* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/1600/900");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 13px 4px rgba(0,0,0,0.4);
}
.buttons {
    margin: 20px 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

button {
    width: 115px;
    height: 115px;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
    font-size: 70px;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    font-size: 20px;
    color: rgb(77, 128, 216);
}

.machine-score span {
    font-size: 20px;
    color: rgb(244, 71, 15);
}